body{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: #232931;
}
h1{
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
}
h2{
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}


.play{
    display: inline-block;
    text-align: center;  
} 
.container{
    justify-content: center;
    text-align: center;
    margin: auto;
}
footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }